<h1> Search for movies </h1>

<form action="/results" method= "POST" >

<br>

<input type="text" placeholder="type in a keyword here"
name="keyword">

<button type="submit">search button</button>

</form>