<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="utf-8">

		<title> My Blog </title>
	</head>
	
	<body>
		<h1><font size="15" color="blue">My Monday Post</font></h1>
 			<article>
			<header><strong>HMTL</strong></header>
			<sub> January, 25th 2016</sub>
		<p>This is my first monday post!<br>
		I am using HTML!!!<br>
		<ul><li>H<br>
		<li>T<br>
		<li>M<br>
		<li>L<br></ul></p>
		<img style="height:150px; width:150px" src="https://pbs.twimg.com/profile_images/466256995675160576/4L9u4Au_.png">
		</article>
		<p>
		<a href="http://Ironhack.com">By:Jeanella Fanzago</a>
		</p>

		<form>
		 
		 Leave your comment here<br>
		<input style="height:100px; width:300px" type="text" name="comment" placeholder="Leave your comment here :)"><br>
		Type your email below<br>
		<input type="email" name="email" placeholder="Enter email here"><br>
 		 Enter your name below<br>
 		<input type="text" name="name" placeholder="Please enter your name here"><br>
 		 Remember my data<br>
 		<input type="checkbox" name="remember" placeholder= "Remember my data "><br>
		
		<button type="submit" name="publish" value= "submit">Submit</button> 

		</form>

	</body>


</html>