<!doctype html>

<html>


<body>
​
​
  <h1>What would you like to add</h1>
  
  <form action="/create_task" method="post">
  
  <input type="text" name="task_content" placeholder= "task content"> 
  
  
  <button type="submit" name="operation" value="new task">Add task to Todo List</button>
  
  </form>
​
​</body>



</html>