<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<title> Agile Board | Trello </title>
	</head>

<body background="http://cdn.paper4pc.com/images/multicolor-background-wallpaper-1.jpg">
<div class="container-fluid"> 
	<div class="row">
		<div class="col-sm-3">
			<div class="col-sm-3">
				<button type="button" class="btn btn-default btn-style"><strong>HOME</strong></button>
   			</div>
   			<div class="col-sm-3">
				<button type="button" class="btn btn-default btn-style"><strong>TOUR</strong></button>
   			</div>
   			<div class="col-sm-3">
				<button type="button" class="btn btn-default btn-style"><strong>BLOG</strong></button>
   			</div>
    	</div>
    	<div class="col-sm-6">
   				<img src="http://blog.discovercloud.com/wp-content/uploads/2015/11/trello.jpg" width= "200" height= "40" class="center-block">
   		</div>	
   		<div class="col-sm-3">
   			   	<div class="col-sm-3 navbar-right">
   					<button type="button" class="btn btn-success">Sign</button>
   				</div>	
   				<div class="col-sm-3 navbar-right">	
   					<button type="button" class="btn btn-primary">Log In</button>
   				</div>
   		</div>
   		</div>
	</div>
	
	
	<div class= "row">
		<div class="col-sm-9">
    		<div class="row">
    			<div class="col-sm-12">
    				<img src="https://theagilecoder.files.wordpress.com/2013/06/trello-logo.png?w=110&h=110" width= "35" height= "35">
    				<button type="button" class="btn btn-default btn-style">Inspiring Boards</button>
    				<button type="button" class="btn btn-default btn-style">Public</button>
    				<button type="button" class="btn btn-default btn-style navbar-right"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Calendar</button>   
    			</div>
    		</div>
    		<div class="col-sm-4">
    			<ul class="nav">
   					 <li class="dropdown">
                            <li>
                                <p>Review tech partner pages </p>
                            </li>

                            <li>
                                <p> Make sure sponsors are indicated for tech talk </p>
                            </li>

                            <li>
                            <p>Top ten trends list </p>
                            </li>
                </ul>
             </div>                 
                
    		</div>
    	</div>

   		<div class="col-sm-3">
   			 <p>MENU</p>
   			   <ul>
    			<li>###</li>
    			<li>Filter Cards</li>
    			<li>More</li>
    			<li>Activity</li>
    			<li>Lauren Moon</li>
    			<li>LaurenMoon</li>
    			<li>LaurenMoon</li>
    			</ul>	

    	</div>		
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
